@using Entities.DTOs.PropertyDTOs;
@using ProjectRealEstate.ViewModels;
@model List<PropertyGetDto>
@{
	ViewData["Title"] = "Index";
}

<!--/ Intro Single star /-->
<section class="intro-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<div class="title-single-box">
					<h1 class="title-single">Mənim elanlarım</h1>
					<span class="color-text-a">Mənzillər</span>
				</div>
			</div>
			<div class="col-md-12 col-lg-4">
				<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="#">Home</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Mənzillər
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!--/ Intro Single End /-->
<!--/ Property Grid Star /-->
<section class="property-grid grid">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="grid-option">
					<form>
						<select class="custom-select">
							<option selected>All</option>
							<option value="1">New to Old</option>
							<option value="2">For Rent</option>
							<option value="3">For Sale</option>
						</select>
					</form>
				</div>
			</div>
			@foreach (var item in Model)
			{

				<div class="col-md-4">
					<div class="card-box-a card-shadow" style="height:466px; width:350px">
						<div class="img-box-a" style="width:100%;height:100%">
							<img src="~/assets/img/Property/@item.Images.Where(i=>i.IsMain==true).FirstOrDefault().Name" alt="" class="img-a img-fluid" style="height:100%; width:100% object-fit:cover">
						</div>
						<div class="card-overlay">
							<div class="card-overlay-a-content">
								<div class="card-header-a">
									<h2 class="card-title-a">
										<a href="#">
											@item.Title
											<br /> @item.Location
										</a>
									</h2>
								</div>
								<div class="card-body-a">
									<input hidden asp-for="@item.Id" >
									<div class="price-box d-flex">
										<span class="price-a">qİymət | AZN @item.Price</span>
									</div>
									<a asp-controller="Property" asp-action="Single" asp-route-Id="@item.Id" class="link-a">
										Ətraflı məlumat
										<span class="ion-ios-arrow-forward"></span>
									</a>
								</div>
								<div class="card-footer-a">
									<ul class="card-info d-flex justify-content-around">
										<li>
											<h4 class="card-info-title">Sahə</h4>
											<span>
												@item.Area
												<sup>2</sup>
											</span>
										</li>
										<li>
											<h4 class="card-info-title">Otaq sayı</h4>
											<span>@item.Rooms</span>
										</li>
										<li>
											<h4 class="card-info-title">Qaraj</h4>
											<span>@(item.HasGarage ? "Mövcuddur" : "Mövcud deyildir")</span>
										</li>
										<li>
											<h4 class="card-info-title">E/D</h4>
											<span>
												<a asp-controller="Property" asp-action="Delete" asp-route-Id="@item.Id"><i class="fa-solid fa-trash" style="color:red"></i></a>
												<a asp-controller="Property" asp-action="Update" asp-route-Id="@item.Id"><i class="fa-solid fa-pen-to-square" style="color:yellow"></i></a>
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>
