@using Entities.DTOs.PropertyDTOs;
@model PropertyGetDto
@{
	ViewData["Title"] = "Single";
}

<!--/ Intro Single star /-->
<section class="intro-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<div class="title-single-box">
					<h1 class="title-single">@Model.Title</h1>
					<span class="color-text-a">@Model.Location</span>
				</div>
			</div>
			<div class="col-md-12 col-lg-4">
				<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index.html">Home</a>
						</li>
						<li class="breadcrumb-item">
							<a href="property-grid.html">Properties</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							@Model.Title
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!--/ Intro Single End /-->
<!--/ Property Single Star /-->
<section class="property-single nav-arrow-b">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
					@foreach (var item in Model.Images)
					{
						<div class="carousel-item-b" style="height:555px">
							<img src="~/assets/img/Property/@item.Name" alt="" style="height:100%;  object-fit:contain">
						</div>
					}
				</div>
				<div class="row justify-content-between">
					<div class="col-md-5 col-lg-4">
						<div class="property-price d-flex justify-content-center foo">
							<div class="card-header-c d-flex">
								<div class="card-box-ico">
									<span class="ion-money">$</span>
								</div>
								<div class="card-title-c align-self-center">
									<h5 class="title-c">@Model.Price</h5>
								</div>
							</div>
						</div>
						<div class="property-summary">
							<div class="row">
								<div class="col-sm-12">
									<div class="title-box-d section-t4">
										<h3 class="title-d">Ev haqqında</h3>
									</div>
								</div>
							</div>
							<div class="summary-list">
								<ul class="list">
									<li class="d-flex justify-content-between">
										<strong>Property ID:</strong>
										<span>@Model.Id</span>
									</li>
									<li class="d-flex justify-content-between">
										<strong>Location:</strong>
										<span>@Model.Location</span>
									</li>
									<li class="d-flex justify-content-between">
										<strong>Property Type:</strong>
										@{
											if (Model.PropertyType == "Flat")
											{
												<span>Bina evi</span>
											}
											else
											{
												<span>Həyət evi</span>
											}
										}
									</li>
									<li class="d-flex justify-content-between">
										<strong>Status:</strong>
										<span>Sale</span>
									</li>
									<li class="d-flex justify-content-between">
										<strong>Area:</strong>
										<span>
											@Model.Area m
											<sup>2</sup>
										</span>
									</li>
									<li class="d-flex justify-content-between">
										<strong>Beds:</strong>
										<span>4</span>
									</li>
									<li class="d-flex justify-content-between">
										<strong>Baths:</strong>
										<span>2</span>
									</li>
									<li class="d-flex justify-content-between">
										<strong>Garage:</strong>
										<span>@(Model.HasGarage ? "Mövcuddur" : "Mövcud deyildir")</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-7 col-lg-7 section-md-t3">
						<div class="row">
							<div class="col-sm-12">
								<div class="title-box-d">
									<h3 class="title-d">Property Description</h3>
								</div>
							</div>
						</div>
						<div class="property-description">
							<p class="description color-text-a">
								@Model.Description
							</p>
						</div>
						<div class="row section-t3">
							<div class="col-sm-12">
								<div class="title-box-d">
									<h3 class="title-d">Amenities</h3>
								</div>
							</div>
						</div>
						<div class="amenities-list color-text-a">
							<ul class="list-a no-margin">
								@foreach (var item in Model.propertyAmenities)
								{
									<li style="margin-right:10px">@item.Amenity.Value</li>
								}
							</ul>
						</div>

						<div class="col-md-12" style="margin-left:-20px">
							<div class="row section-t3">
								<div class="col-sm-12">
									<div class="title-box-d">
										<h3 class="title-d">Əlaqə üçün</h3>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-lg-4">
									<div class="property-agent">
										<h4 class="title-agent">@Model.User.FullName</h4>

										<ul class="list-unstyled">
											<li class="d-flex justify-content-between">
												<strong>Phone:</strong>
												<span class="color-text-a">@Model.User.PhoneNumber</span>
											</li>

											<li class="d-flex justify-content-between">
												<strong>Email:</strong>
												<span class="color-text-a">@Model.User.Email</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!--/ Property Single End /-->
